[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cli = {path = "./dist/python_cli-0.1.tar.gz"}

[dev-packages]


[requires]
python_version = "3.9"
python_full_version = "3.9.6"
